@-moz-document url-prefix("http://example.com") {
/* ==UserStyle==
@name           LKTweaks - Headers
@namespace      app.legendkeeper.com
@description    Decreases the spacing between headers and paragraphs 
@author         AnthemV
@version        1.1
@license        Attribution 4.0 International (CC BY 4.0)
@homepageURL    https://github.com/AnthemV/LKTweaks
@supportURL     https://github.com/AnthemV/LKTweaks/issues
@updateURL      https://github.com/AnthemV/LKTweaks/raw/main/LKTweaks-Headers.user.styl
==/UserStyle== */
}

@-moz-document domain("app.legendkeeper.com") {
/* Decreases spacing below headers */
h1 + p {
    margin-top: 4px !important;
}
h2 + p {
    margin-top: 4px !important;
}
h3 + p {
    margin-top: 4px !important;
}
h4 + p {
    margin-top: 4px !important;
}
h5 + p {
    margin-top: 4px !important;
}
h6 + p {
    margin-top: 4px !important;
}
}

@-moz-document domain("app.legendkeeper.com") {
/* Unbolds the headers by default. They can still be bolded like normal text */

/* Remove this line to enable

h1  {
    font-weight: normal !important;
}
h2 {
    font-weight: normal !important;
}
h3 {
    font-weight: normal !important;
}
h4 {
    font-weight: normal !important;
}
h5 {
    font-weight: normal !important;
}
h6 {
    font-weight: normal !important;
}
}
