@-moz-document url-prefix("http://example.com") {
/* ==UserStyle==
@name           LKTweaks - Menu Items
@namespace      app.legendkeeper.com
@description    Tweaks for the munu items in LK
@author         AnthemV
@version        1.1.2
@license        Attribution 4.0 International (CC BY 4.0)
@homepageURL    https://github.com/AnthemV/LKTweaks
@supportURL     https://github.com/AnthemV/LKTweaks/issues
@updateURL      https://github.com/AnthemV/LKTweaks/raw/main/LKTweaks-Menus.user.styl
==/UserStyle== */
}

@-moz-document domain("app.legendkeeper.com") {
/* Left and right padding for menu items */
.list-item {
    width: calc(100% - 12px) !important;
    margin-left: 6px;
    border-radius: 4px;
}

button.tree-item-container:nth-child(n) > div:nth-child(1) > div:nth-child(2) {
    margin-left: -6px;
}

/* Fixes subpage index and tag index */
.dctooM.with-children {
    margin-left: -6px;
}

/* Add padding to dividers in menus */
.divider.padded {
    margin-top: 6px;
    margin-bottom: 6px;
}




/* Main wiki entries */
div.special-overlay:nth-child(n) {
    width: 99% !important;
}


/* Sidebar entries*/
.jss64 {
    width: calc(100% - 12px);
    margin: 0px 6px;
    border-radius: 4px;
}

.jss64 > .tree-item-container {
    margin-left: -12px !important;
}

/* Right click */
[class="w-[300px] max-h-[400px] overflow-auto"] [class="menu-item interactive-overlay"] {
    margin: 0px 12px;
    border-radius: 4px;
}

/* More padding in right click menu */
.w-\[300px\] {
    padding-bottom: 5px;
}


/* Boards menu */
.c-ecEETu {
    width: calc(100% - 12px);
    margin-left: 6px;
}

/* Boards zoom menu */
.c-ffQbAo {
    width: 152px;
}



/* Projects */
.drop-box [class="menu-item interactive-overlay"] {
    width: calc(100% - 40px);
    margin-left: 20px;
    border-radius: 8px;
    min-width: 190px;
}

/* Project inner padding */
.menu-item {
    padding: 12px 16px;
}

/* Project menu dividers */
.divider.secondary {
    margin: 0px 30px !important;
}
.world-select-background [class="divider padded"] {
    margin-bottom: 8px
}
}
