@-moz-document url-prefix("http://example.com") {
/* ==UserStyle==
@name           LKTweaks - Backported Sizing
@namespace      app.legendkeeper.com
@description    Backport of the new header sizing changes from public worlds
@author         AnthemV
@version        1.0
@license        Attribution 4.0 International (CC BY 4.0)
@homepageURL    https://github.com/AnthemV/LKTweaks
@supportURL     https://github.com/AnthemV/LKTweaks/issues
@updateURL      https://github.com/AnthemV/LKTweaks/raw/main/LKTweaks-Backports.user.styl
==/UserStyle== */
}

@-moz-document domain("app.legendkeeper.com") {
.lk-editor .ProseMirror h1 {
    font-size: 24px;
}

.lk-editor .ProseMirror h2 {
    font-size: 20px;
}

.lk-editor .ProseMirror h3 {
    font-size: 18px;
}

.lk-editor .ProseMirror h4 {
    font-size: 16px;
}

.lk-editor .ProseMirror h5 {
    font-size: 14px;
}

.lk-editor .ProseMirror h6 {
    font-size: 12px;
}
}
