@-moz-document url-prefix("http://example.com") {
/* ==UserStyle==
@name           LKTweaks - Search Button
@namespace      app.legendkeeper.com
@description    Moves the search icon into the same section as the other bottom blocks
@author         AnthemV
@version        1.5.6
@license        Attribution 4.0 International (CC BY 4.0)
@homepageURL    https://github.com/AnthemV/LKTweaks
@supportURL     https://github.com/AnthemV/LKTweaks/issues
@updateURL      https://github.com/AnthemV/LKTweaks/raw/main/LKTweaks-Search.user.styl
==/UserStyle== */
}

@-moz-document domain("app.legendkeeper.com") {
/* Remove search label */
.mb-2 > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
    display: none;
}

/* Search block */
.mb-2 {
    width: 51.7833px !important;
    margin-left: -3px;
    margin-bottom: -5px;
    height: 48px;
    border-radius: 8px;
}

[data-cy="search-button"] .tree-item-inner {
    margin-left: -6px;
}

/* Resize create block */
div.sidebar-wiki button.flex.items-center:nth-of-type(1) {
    margin-left: 61px !important;
    width: calc(100% - 75.4px) !important;
}

/* Move search block down */
.sidebar-wiki:has(.wiki-shortcuts)  [data-cy="search-button"]:first-child {
    width: 49px;
    bottom: -55px;
    margin-left: 12px;
    margin-bottom: 12px;
}

[data-cy="search-button"]:first-child {
    width: 49px;
    bottom: -8px;
    margin-left: 12px;
    margin-bottom: 12px;
}

/* Ensure that search icon isn't cut off */
.mb-2 > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > svg:nth-child(1) {
    width: 24px !important;
    height: 24px !important;
}

/* Increase size of search icon */
.mb-2 > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
    scale: 1.7;
    margin-left: 4px !important;
}


/* Scoot the section that used to hold the search position out of view */
.sidebar-wiki > div:nth-child(3):not(.results-container),
.sidebar-wiki > div:nth-child(4):not([class*="jss"]) {
    margin-top: -47px !important;
}


/* Search block colors - dark mode */
body.theme-dark.dark .mb-2:hover {
    background-color: rgb(70, 74, 77) !important;
}

body.theme-dark.dark .mb-2 {
    background: #1B1D1F;
}

/* Color for search icon */
body.theme-dark.dark .mb-2 > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > path:nth-child(1) {
    color: #575859;
}

/* Hover color for search icon */
body.theme-dark.dark .mb-2:hover > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > path:nth-child(1) {
    color: #E7E8E8;
}



/* Search block colors - light mode */
body.theme-light.light .mb-2:hover {
    background-color: rgb(205, 207, 208) !important;
}

body.theme-light.light .mb-2 {
    background: #FFFFFF;
}

/* Color for search icon */
body.theme-light.light .mb-2 > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > path:nth-child(1) {
    color: #B7B7B7;
}

/* Hover color for search icon */
body.theme-light.light .mb-2:hover > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > path:nth-child(1) {
    color: #0E0F0F;
}




/* Use correct cursor */
.mb-2 > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > svg:nth-child(1) {
    cursor: pointer;
}

.mb-2 > div:nth-child(2) {
    cursor: pointer !important;
}
}
