@-moz-document url-prefix("http://example.com") {
/* ==UserStyle==
@name           LKTweaks - Headers
@namespace      app.legendkeeper.com
@description    Decreases the spacing between headers and paragraphs 
@author         AnthemV
@version        1.4
@license        Attribution 4.0 International (CC BY 4.0)
@homepageURL    https://github.com/AnthemV/LKTweaks
@supportURL     https://github.com/AnthemV/LKTweaks/issues
@updateURL      https://github.com/AnthemV/LKTweaks/raw/main/LKTweaks-Headers.user.styl
==/UserStyle== */
}

@-moz-document domain("app.legendkeeper.com") {
/* Decreases spacing below headers */ 
h1 + p {
    margin-top: 4px !important;
}
h2 + p {
    margin-top: 4px !important;
}
h3 + p {
    margin-top: 4px !important;
}
h4 + p {
    margin-top: 4px !important;
}
h5 + p {
    margin-top: 4px !important;
}
h6 + p {
    margin-top: 4px !important;
}


h1 + [class="react-renderer node-extension"] {
    margin-top: 0px !important;
}
h2 + [class="react-renderer node-extension"] {
    margin-top: 0px !important;
}
h3 + [class="react-renderer node-extension"] {
    margin-top: 0px !important;
}
h4 + [class="react-renderer node-extension"] {
    margin-top: 0px !important;
}
h5 + [class="react-renderer node-extension"] {
    margin-top: 0px !important;
}
h6 + [class="react-renderer node-extension"] {
    margin-top: 0px !important;
}
}

@-moz-document domain("app.legendkeeper.com") {
/* Decreases spacing above the headers */

/* Remove this line to enable

.lk-editor .ProseMirror h1 {
    margin-top: 0.8335em;
}

.lk-editor .ProseMirror h2 {
    margin-top: 0.9em;
}

.lk-editor .ProseMirror h3 {
    margin-top: 1em;
}

.lk-editor .ProseMirror h4 {
    margin-top: 0.6785em;
}

.lk-editor .ProseMirror h5 {
    margin-top: 0.8335em;
}

.lk-editor .ProseMirror h6 {
    margin-top: 0.7275em;
}

Also remove this line to enable */ 

}
