@-moz-document url-prefix("http://example.com") {
/* ==UserStyle==
@name           LKTweaks - Slim Secrets
@namespace      app.legendkeeper.com
@description    Makes secret blocks look nicer.
@author         AnthemV
@version        1.0
@license        Attribution 4.0 International (CC BY 4.0)
@homepageURL    https://github.com/AnthemV/LKTweaks
@supportURL     https://github.com/AnthemV/LKTweaks/issues
@updateURL      https://github.com/AnthemV/LKTweaks/raw/main/LKTweaks-Slim-Secrets.user.styl
==/UserStyle== */
}

@-moz-document domain("app.legendkeeper.com") {
/* Remove chunky label */
.label.md {
    display: none;
}

/* Remove chunky padding */
.sc-hORach {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
}
