@-moz-document url-prefix("http://example.com") {
/* ==UserStyle==
@name           LKTweaks - Menu Items
@namespace      app.legendkeeper.com
@description    Tweaks for the munu items in LK
@author         AnthemV
@version        1.2
@license        Attribution 4.0 International (CC BY 4.0)
@homepageURL    https://github.com/AnthemV/LKTweaks
@supportURL     https://github.com/AnthemV/LKTweaks/issues
@updateURL      https://github.com/AnthemV/LKTweaks/raw/main/LKTweaks-Menus.user.styl
==/UserStyle== */
}

@-moz-document domain("app.legendkeeper.com") {
/* Left and right padding for menu items */
.list-item {
    width: calc(100% - 12px) !important;
    margin-left: 6px;
    border-radius: 4px;
}

button.tree-item-container:nth-child(n) > div:nth-child(1) > div:nth-child(2) {
    margin-left: -6px;
}

/* Fixes subpage index and tag index */
.dctooM.with-children {
    margin-left: -6px;
}

/* Add padding to dividers in menus */
.divider.padded {
    margin-top: 6px;
    margin-bottom: 6px;
}

/* Fix for right click heading seletor in the editor */
.action-menu .tree-item {
    width: 100% !important;
    margin-left: 0px !important;
    border-radius: 0px !important;
}





/* Main wiki entries */
div.special-overlay:nth-child(n) {
    width: 99% !important;
}

.jss64 > .tree-item-container {
    margin-left: -12px !important;
}

/* Right click */
[class="w-[300px] max-h-[400px] overflow-auto"] [class="menu-item interactive-overlay"] {
    margin: 0px 12px;
    border-radius: 4px;
}

/* More padding in right click menu */
.w-\[300px\] {
    padding-bottom: 5px;
}


/* Boards menu */
.c-ecEETu {
    width: calc(100% - 12px);
    margin-left: 6px;
    padding: 0px 10px;
}

/* Boards go to content button */
html body.theme-dark.dark.t-ZdJJK div#root div.App div.jss1.lk-layout-manager div.jss6 div.jss7 div.jss32.jss38.resource-viewer.board div.jss33.jss39 div.jss59.jss60.board-page div.jss58 div.tldraw div div.c-jOyZnp.t-ZdJJK div.c-dwQeTN div.c-iOLsYG.tools-panel-container div.c-gpFQuA.tools-center-wrap div.c-kMovMn.c-krcnSs.tools-panel div.c-SJPuk.c-dNCnBz button.c-yroDl.c-yroDl-fjCQFt-cv div.c-ecEETu {
    width: 112px;
    margin-right: 6px;
}

/* Specific fixes for boards zoom menu and color menus */
.c-SJPuk.c-ffQbAo.dropdown-content .c-ecEETu {
    width: calc(100% - 12px);
    margin-right: 6px;
}

/* Boards dividers */
.c-hbofmm {
    margin-top: 6px;
    margin-bottom: 6px;
}




/* Projects */
.drop-box [class="menu-item interactive-overlay"] {
    width: calc(100% - 40px);
    margin-left: 20px;
    border-radius: 8px;
    min-width: 190px;
}

/* Project inner padding */
.menu-item {
    padding: 12px 16px;
}

/* Project menu dividers */
.divider.secondary {
    margin: 0px 30px !important;
}
.world-select-background [class="divider padded"] {
    margin-bottom: 8px
}
}
